<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{save}" method="post">
    <input type="checkbox" value="Lettuce" name="condiment" >Lettuce
    <input type="checkbox" value="Tomato" name="condiment">Tomato
    <input type="checkbox" value="Mustard" name="condiment">Mustard
    <input type="checkbox" value="Sprounts" name="condiment">Sprounts
    <input type="submit" value="Save">
</form>
<div th:if="${condiments}">
    <div th:each="condiment,iterstar:${condiments}">
        <p th:text="${condiment}"></p>
    </div>
</div>
<div th:if="${message}">
    <div>
        <p th:text="${message}"></p>
    </div>
</div>
</body>
</html>